.header-bar {
  background-color: #119DA4;
  padding: 0px 14px;
}

.page-title {
  height: 100%;
  line-height: 50px;
}

.links {
}

.link {
  height: 100%;
  line-height: 50px;
  background-color: #D7D9CE;
  padding: 20px;
  margin: 0px;
  text-align: center;
  font-size: 20px;
}

.link:hover {
  background-color: #13505B;
  color: black;
}
