/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
}

.section-header {
  text-align: center;
}

.main-section {
  text-align: center;
}

.form-container {
  max-width: 250px;
  margin: auto;
  text-align: left;
}
