<div class="form-container container">
  <!-- <h3>Puppy Form</h3> -->
  <form (ngSubmit)="changeFilter(form)" #form="ngForm">
    <h4>Filter Options</h4>
    <input type="radio" name="selection" checked (click)="changeSelection('breed')">
    <label>Breed</label>
    <input type="radio" name="selection" (click)="changeSelection('size')">
    <label>Size</label>    
    <input type="radio" name="selection" (click)="changeSelection('location')">
    <label>Location</label>


    <div [hidden]="selected !== 'breed'" class="form-group">
      <input type="text" ngModel name="breed" #breed="ngModel" class="form-control" id="breed">
    </div>
    <div [hidden]="selected !== 'size'" class="form-group">
      <input type="text" ngModel name="size" #size="ngModel" class="form-control" id="size">
    </div>
    <div [hidden]="selected !== 'location'" class="form-group">
      <input type="text" ngModel name="location" #location="ngModel" class="form-control" id="location">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="button" class="btn btn-default" (click)="reset()">Reset</button>
  </form>
</div>
